header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: auto;
  max-width: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e7eb;
  background-color: #4cbb17;
  padding: 1px;
  font-family: "Dangrek", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #1f2937;
  backdrop-filter: blur(100px);
  text-transform: none;
  box-sizing: border-box;
}

.title {
  margin-left: 10px;
}


.left {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 10px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 10px;
}

.hamburger {
  display: block;
  padding-right: 25px;
  position: relative;
  z-index: 101;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

@media (min-width: 769px) {
  .hamburger {
    display: none; /* hide on desktop */
  }
}

.overlay-cross-button {
  font-size: clamp(16px, 4vw, 100px);
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}


@media (max-width: 768px) {
  .right {
    display: none;
  }
  .overlay-cross-button {
    display: none;
  }
}

.logo-img {
  gap: 100px;
}



.logo-img:nth-child(1) {
  height: 50px;
  width: 50px;
  margin-right: 10px;
 
}


.logo-img:nth-child(2) {
  right: 10;
  transform: scale(1.15);
  transform-origin: center;
  margin-right: 10px; 
}


/* .logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
  width: auto;
  object-fit: cover;
} */
