.carousel {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
    position: relative;

}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .MuiSvgIcon-root {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white; /* Make sure the icon is visible */
    font-size: 40px; /* Adjust size if necessary */
  }

.carousel .arrow-back {
    left: 50px;
}
.carousel .arrow-forward {
    right: 50px;
}
