.showcase {
    background-color: #fbf5db;
}

.showcase-row {
  display: flex;
}

.showcase-left {
    flex: 1;
    display: flex;
    height: 400px;
}

.showcase-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 400px;
}

.showcase-left img,
.showcase-right img {
    height: 100%;
    width: auto;
}

@media (max-width: 768px) {
    .showcase-row {
        flex-direction: column; /* stack columns vertically */
    }
    .showcase-left,
    .showcase-right {
      height: 20px;
    }

    .showcase-left img,
    .showcase-right img {
        width: 60%;
        height: auto;
    }
}

.showcase-left img:nth-child(2){
  /* position: fixed; */
  /* Use this as reference for the previous divs
  don't move on until this issue is resolved */
  position: absolute;
  width: 350px;
  height: auto;
  border: 10px solid #70ac44;
  outline: 3px solid #30442c;
  box-shadow: -10px 15px 0 #30442c;
}

.middle {
  background-color: #fbf5db;
  margin: 0px;
  padding: 0px;
  height: 395px;
  width: 100%;
}

.middleSquare img {
  margin-top: -215px;
  position: absolute;
  left: 0;
  width: 300px;
  height: 340px;
}


.middleBar img:nth-child(1) {
  margin-top: 55px;
  position: absolute;
  right: 0;
  width: 450px;
  height: 340px;

}


.middleBar img:nth-child(2) {
  margin-top: 45px;
  position: relative;
  right: -500px;
  bottom: -60px;
  width: 350px;
  height: 200px;
  border: 10px solid #70ac44;
  outline: 3px solid #30442c;
  box-shadow:  -10px 15px 0 #30442c;

}

.bottom {
  background-color: #fbf5db;
  margin: 0px;
  padding: 0px;
  height: 395px;
  width: 100%;
}

.bottomBar img:nth-child(1) {
  margin-top: 10px;
  position: absolute;
  left: 0;
  width: 450px;
  height: 340px;

}

.bottomBar img:nth-child(2) {
  margin-top: 45px;
  position: relative;
  left: -500px;
  bottom: -40px;
  width: 350px;
  height: 200px;
  border: 10px solid #70ac44;
  outline: 3px solid #30442c;
  box-shadow:  -10px 15px 0 #30442c;

}

.bottomSquare img {
  margin-top: -270px;
  position: absolute;
  right: 0;
  width: 340px;
  height: 300px;

}

.creepycook {
  position: relative;
  top: -175px;
  left: 460px;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: flex-start; /* Align all child elements to the left */
  font-size: 12px;
}

.creepycook p {
  margin-bottom: 0px;
}

.creepybuttons {
  margin-top: 10px;
}
