.group-photo img {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}
.green {
	width: 100%;
	height: 4rem;
	background-color: #2d5427;
}

.information {
	max-width: 70rem;
	margin: 5rem auto;
	padding: 0.2rem;
	text-align: center;

	font-family: "Indie Flower", cursive;
	font-style: normal;
	font-size: 1.8rem;
}

.information h1 {
	margin-bottom: 5rem;
	font-weight: 700;
}

.information p {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	line-height: 1.6;
}

.outer-rectangle {
	width: 100%;
	height: 22rem;
	background-color: #2d5427;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-rectangle {
	padding: 2rem;
	background-color: #efe1a1;
	margin: auto;
	width: 85%;
	height: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

.year {
	margin: 0;
	color: #000;
	text-align: center;
	font-family: Imprima;
	font-size: 7rem;
}

.team {
	text-align: center;
}

.team-name {
	margin-top: 2;
	margin-bottom: 0;
	display: flex;
	width: auto;
	height: 8rem;
	flex-direction: column;
	justify-content: center;

	color: #292605;
	font-family: Inconsolata;
	font-size: 4.2rem;
	font-style: normal;
	font-weight: 400;
}

.team-banner {
	width: 90%;
	height: 30rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 4rem;

	margin: 0 auto;
}

.team-list {
	list-style: none;
	margin-left: 2rem;
	margin-right: 2rem;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.team-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 4rem;
}

.team-member img {
	width: 16rem;
	height: 16rem;
	border-radius: 15rem;
}

.team-member p {
	display: flex;
	text-align: center;
	font-family: Inconsolata;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	line-height: normal;
}
